/*------------------------------------*\
    $COMMON STYLES
\*------------------------------------*/

.clearfix,
%clearfix{
  //IE fix
  *zoom: 1;
}
.clearfix:after,
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
// gMaps scrollfix
.scrollFix {
  line-height: 1.35;
  overflow: hidden;
  white-space: nowrap;
}

.page__wrapper {
  width: 100%;
  // min-width: 1200px;
  overflow: hidden;
}

.t-uc {
  text-transform: uppercase;
}
.t-b {
  font-weight: bold;
}
.t-sup {
  vertical-align: super;
}